<!-- Take in the base information (css etc) -->
{% extends "base.html" %}

<!-- Set the title of the page -->
{% block title %}{{ post.title }}{% endblock %}

<!-- Put in all of the information -->
{% block content %}

    <!-- Display the title, and post information -->
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url "blog:post_share" post.id %}">
            Share this post
        </a>
    </p>
    <!-- Count the number of challenges -->
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}

    <!-- Display all of the comments on this post -->
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>

    <!-- Condition for no comments presently posted -->
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    <h2>Similar posts</h2>

    <!-- Display posts with the same tag -->
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        There are no similar posts yet.
    {% endfor %}

    <!-- Optional: create a new comment -->
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}